/* PrimaryButton.css */

.button {
  display: flex;
  padding: 0.75rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 3.125rem;
  transition: all 0.3s ease;
  background-color: white;
  gap: 0.5rem;
  border: none;
  cursor: pointer;

  flex: 1 0 0;
  align-self: stretch;
}

.button--hovered {
  background-color: rgba(240, 240, 240, 0.88); /* Light gray hover */
}

.button--pressed {
  background-color: rgba(200, 200, 200, 0.6); /* Darker gray when pressed */
}

.button--clicked {
  background-color: rgba(255, 255, 255, 0.6); /* Subtle white */
}

.button--disabled {
  background-color: rgba(255, 255, 255, 0.24);
  cursor: not-allowed;
  color: var(--Light-Gray, #929292);
  opacity: 0.6;
}

.buttonText {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  transition: color 0.3s ease;
}

.buttonText--clicked {
  color: white;
}

.linkWrapper {
  text-decoration: none;
}

.full-width {
  width: 100%;
}
.button-content {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
